<h1>Welcome to the Car Simulator</h1>
<form action="car/create_car" method="get">
  <h5>Make:</h5>
  <input type="text" name="make">
  <h5>Model:</h5>
  <input type="text" name="model">
  <h5>Year:</h5>
  <input type="text" name="year">
  <br>
  <h5>Color:</h5>
  <input type="color" name="color">
  <br>
  <br>
  <br>
  <input type="submit" value="Simulate Car">

</form>
